@import '~antd/dist/antd.css';

.App {
  text-align: left;
}

.site-layout-content {
  background: #fff;
  padding: 24px;
  min-height: 280px;
}

.App-logo {
  height: 40vmin;
}

.title{
  color: white;
}
